<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="app.css")
        title Document
    body
      
      header.barra
        h1 PetFinder -Buscador de mascostas
        a(href="#") Encontrar ahora.
        
      main.contenedor 
        aside.contenedor-proyectos
          .panel.crear-proyecto
            a.boton(href="#") Find Your Pet
              spna   
          .panel
          .panel.crear-proyecto
            a.boton(href="#") About US
              spna   
          .panel.lista-proyectos
            h2 Proyectos 
            ul#proyectos.proyectos 
              li 
                 a(href="#") Support
              li
                 a(href="") Hola Mundo 

        
        
        

        
           

        
      

                            
block contenido 
            

      
        

         


      
