<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport",  content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="app.css")
        title= PetFindeBedu
    body
      
      header.barra
        
        img(src="https://ibb.co/vxXtD0N", alt="LogoPetFinder")
        h1 PetFinder -Buscador de mascotas
        a(href="#") LogIn
        
      main.contenedor 
        aside.contenedor-proyectos
          .panel.crear-proyecto
            a.boton(href="/buscar-mascota" class="boton") Encontrar
              spna   
          .panel
          .panel.crear-proyecto
            a.boton(href="#") Encontre 
              spna

          .panel.crear-proyecto
            a.boton(href="#") Acerca 
              spna  

          .panel.crear-proyecto
            a.boton(href="#") Contacto
              spna     
          
        block contenido

        
        
        

        
           

        
      

                            

 
            

      
        

         


      
